* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




.hidden {
    display: none !important
}

.column {
    flex:1;
    border: solid 1px black;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.left-sidebar {
    
}
.sub-container {
    background-color: rgb(225, 168, 168);
    flex:1;
}

.littleColumns {
    display: flex;
    padding:5px;
    gap:6px;
}

.sub-container-littleColumn{
    gap:6px;
    height: 90%;
    background-color: white;
    flex:1;
}
.sub-article-container-left{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.main-article-header{
    background-color: burlywood;
    flex:1;
    
}
.related-articles-container{
    background-color: cornflowerblue;
    flex:1;
}

.sub-article-container-right{
    display: flex;
    flex-direction: column;
}

.sub-article-container_white{
    display: flex;
    background-color: paleturquoise;
    gap:6px;
    flex: 1;
    flex-direction: column;
    padding:5px;
}

.sub-article{
    flex:1;
    background-color: salmon;
}
.sub-sub-articles{
    display: flex;
    gap:4px;
    background-color: white;
    padding:4px
}
.sub-sub-article{
    height:100%;
    flex:1;
    background-color: greenyellow;
}
.right-sidebar{
    display: flex;
    padding:10px;
    flex-direction: column;
    justify-content: space-between;
}
.WC{
    background-color: red;
    height:200px;
}






















body {
    padding:36px;
    background-color: rgb(255, 255, 251);
}



.container {
    height: 500px;
    width: 100%;
    background-color: rgb(192, 226, 255);
    display: flex;
    gap: 12px;
}

.container > .column {
    border: none;
    padding: 8px;
}

.container > .column > .sub-container {
    /* background-color: green; */
}

.container > .column > .sub-container.has-smaller-div {
    display: flex;
    gap: 8px;
    padding: 12px;
    align-items: center;

}

.container > .column > .sub-container > .smaller-div {
    background-color: #fff;
    height: 80%;
    flex: 1;
}

.container > .column > .sub-container.extra-long {
    background-color: cornflowerblue;
    flex: 2;
}

.yellow {
    background-color: rgb(255, 255, 189);
}

.purple {
    background-color: rgb(153, 117, 153);
}